<div class="row">
    <div class="col-lg-12 col-md-12">
        <section class="box-typical">

            <header class="box-typical-header-sm">
                <div class="form-group row">
                    <label for="exampleSelect" class="col-sm-1 form-control-label">ปีการศึกษา</label>
                    <div class="col-sm-2">
                        <select id="exampleSelect" class="form-control">
			        <option value="2558" selected="selected">2558</option>
			            </select>
                    </div>
                </div>


            </header>
        </section>
    </div>
</div>

<div class="row">
    <div class="col-lg-12 col-md-12">
        <section class="box-typical">
            <table id="table-edit" class="table table-bordered table-hover">
				<thead>
				<tr>
					<th colspan="7">
						<div class="text-center">ผลงานประจำปี</div>
					</th>
					
				</tr>
				<tr>
					<th width="15%">
						<div class="text-center">ประเภทภาระงาน</div>
					</th>
					<th width="20%"> <div class="text-center">งาน</div></th>
					<th width="30%"> <div class="text-center">ภาระงาน/คะแนน</div></th>
					<th width="10%"> <div class="text-center">ช่องทาง|สถานะ</div></th>
					<th width="5%"> <div class="text-center"> สัดส่วน</div></th>
					<th width="15%"> <div class="text-center">คะแนน <br>ก่อนอนุมัติ | หลังอนุมัติ </div></th>
					<th width="5%"><div class="text-center">รวม</div></th>
				</tr>
				</thead>
                <tbody>
                    <tr *ngFor="let item of academyList; let i = index">
						<td>{{item.name}}</td>
					
							<td colspan="5">
								<table>
									<tbody>
										<tr width="100%"    *ngFor="let item of kpiuserList; ">
											<td>{{item.name}}</td>
											<td>{{item.name}}</td>
											<td>{{item.totalInMapping}}</td>
											<td>h</td>
											<td>j</td>
										</tr>
									<tbody>
								</table>
							</td>
						
						<td >{{item.totalInWorkType}}</td>
					</tr>

                </tbody>
            </table>
            
        </section>
    </div>
</div>