<div class="container-fluid">
    <div class="col-md-4 col-lg-12">
        <section id="blockui-element-container-dark" class="card">
            <header class="card-header">
                <div class="row">
                    <div class="col-md-3 col-md-offset-5">
                        <div class="form-group row">
                            <label for="exampleSelect" class="col-sm-4 form-control-label">ปีการศึกษา</label>
                            <div class="col-sm-6">
                                <select id="exampleSelect" class="form-control" name="name"  [(ngModel)]="academicYearSelect"  #academic (change)="changeYear(academic.value)">
									<option  *ngFor="let item of academicList" [value]="item.name" >{{item.name}}</option>

								</select>
                            </div>
                        </div>
                    </div>
                </div>
            </header>


            <div class="card-block display-table" style="min-height: auto">
<section class="card card-default">
    <header class="card-header"  > ข้อมูลหน่วยงานประจำปีการศึกษา {{academicYearSelect}} </header>
    <div class="card-block">
        <table id="table-edit" class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>คณะ <a href="javascript:void(0);" (click)="AdminFacultyCreate(academicYear)" *ngIf="academicYear == academicYearSelect " ><i class="fa fa-plus"></i>เพิ่มคณะ</a>
                        <div class="fa-hover col-md-3 col-md-offset-2"></div>
                    </th>
                    <th>ภาควิชา 
                        <div class="fa-hover col-md-3 col-md-offset-2"></div>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of Faculty">
                    <td>
                        <div class="row">
                            <div class="col-md-6">{{item.code}} : {{item.name}}</div>
                            <div class="col-md-1"><a href="javascript:void(0);" (click)="AdminFacultyeditFaculty(item.facultyId)" *ngIf="academicYear == academicYearSelect " ><i class="font-icon font-icon-cogwheel"></i>แก้ไข</a>
                            </div>
                        </div>

                    </td>
                    <td>
                       
                        <a href="javascript:void(0);" (click)="AdminFacultycreateDepartment(item.facultyId)" *ngIf="academicYear == academicYearSelect " ><i class="fa fa-plus"></i>เพิ่มภาควิชา</a>
                        <div class="row" *ngFor="let items of item.departmentList">
                            <div class="col-md-6">{{items.code}} : {{items.name}}</div>
                            <div class="col-md-1"><a href="javascript:void(0);" (click)="AdminFacultyEditDepartment(items.departmentId)" *ngIf="academicYear == academicYearSelect "><i class="font-icon font-icon-cogwheel"></i>แก้ไข</a>
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</section>
</div>
</section>
</div>
</div>