<div style="width: 100%">
    <div class="col-md-4 col-lg-12">
        <section id="blockui-element-container-dark" class="card">
            <div class="card-block display-table" style="min-height: auto">
                <section class="card card-default">
                    <header class="card-header" style="text-align: center"><i class="glyphicon glyphicon-th-list"></i> ข้อมูลประเภทภาระงาน คณะ วิศวกรรมศาสตร์ ประจำปีการศึกษา 2558
                        </header>
                    <div class="card-block">
                        <br>
                        <div class="row">
                            <div class="col-md-6 col-md-offset-3">
                                <div class="form-group">
                                    <label for="inputEmail3" class="col-sm-2 control-label">ประจำปี :</label>
                                    <div class="col-sm-6">
                                        <select class="form-control">
                                            <option>2558</option>
                                            <option>2559</option>
                                            <option>2560</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-md-6 col-md-offset-3">
                                <div class="form-group">
                                    <label for="inputEmail3" class="col-sm-2 control-label">คณะ :</label>
                                    <div class="col-sm-6">
                                        <select class="form-control">
                                <option>วิศวกรรมสาสตร์</option>
                                <option>วิทยาศาสตร์</option>
                                <option>เทคโนโลยีสารสนเทศ</option>
                                </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-md-6 col-md-offset-3">
                                <div class="form-group">
                                    <div class="col-sm-offset-2 col-sm-10">
                                        <button type="submit" class="btn btn-inline btn-info">ค้นหา</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>
                    </div>
                </section>
            </div>

            <div class="card-block display-table" style="min-height: auto">
                <section class="card card-default">
                    <div class="card-block">
                        <table id="table-edit" class="table table-bordered table-hover">
                            <tr>
                                <td rowspan="2" bgcolor="#f6f8fa" style="text-align: center">ประเภทภาระงาน</td>
                                <td colspan="2" bgcolor="#f6f8fa" style="text-align: center">ภาระงานคาดหวัง ต่อปี</td>

                            </tr>
                            <tr>
                                <td bgcolor="#f6f8fa" style="text-align: center">ขั้นต่ำ (คะแนน) / ใช้ในการคำนวณ</td>
                                <td bgcolor="#f6f8fa" style="text-align: center">ขั้นสูง (คะแนน) / ใข้ในการคำนวณ</td>
                            </tr>

                            <tr>
                                <td>
                                    <div class="row">
                                        <div class="col-md-6"> <input type="text" class="form-control" placeholder="Text input" value="งานวิชาการ"></div>
                                    </div>
                                </td>
                                <td>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="row">
                                                <div class="col-md-5" style="text-align: center"><input type="text" class="form-control" placeholder="Text input" value="472.50"></div>
                                                <div class="col-md-1" style="text-align: center">/</div>
                                                <div class="col-md-1" style="text-align: center"> <input type="checkbox" id="check-1"></div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="row">
                                                <div class="col-md-5" style="text-align: center"><input type="text" class="form-control" placeholder="Text input" value="3000.00"></div>
                                                <div class="col-md-1" style="text-align: center">/</div>
                                                <div class="col-md-1" style="text-align: center"> <input type="checkbox" id="check-1"></div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>


                            
                        </table>
                        <br>
                        <div class="row">
                            <div class="col-md-12" style="text-align: center">
                                <button class="btn btn-inline btn-primary" type="submit">บันทึก</button>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </section>
    </div>
</div>