<div style="width: 100%">
    <div class="col-md-4 col-lg-12">
        <section id="blockui-element-container-dark" class="card">
            <div class="card-block display-table" style="min-height: auto">
                <section class="card card-default">
                    <header class="card-header" style="text-align: center"><i class="font-icon font-icon-pencil"></i> สร้างภาระงาน </header>
                    <div class="card-block">
                        <br>
                        <form (ngSubmit)="onSubmit()">
                            <div class="row">
                                <div class="col-md-7 col-md-offset-3">
                                    <div class="form-group">
                                        <label for="inputEmail3" class="col-sm-3 control-label">ชื่อภาระงาน :</label>
                                        <div class="col-sm-6">
                                            <input type="text" [(ngModel)]="CreateAtti.name" name ="name" class="form-control" placeholder="ชื่อภาระงาน ">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-md-7 col-md-offset-3">
                                    <div class="form-group ">
                                        <label for="inputPassword3" class="col-sm-3 control-label">คะแนน :</label>
                                        <div class="col-sm-6">
                                            <input type="text" [(ngModel)]="CreateAtti.mark" name ="mark" class="form-control" placeholder="คะแนน">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-md-7 col-md-offset-3">
                                    <div class="form-group">
                                        <label for="inputEmail3" class="col-sm-3 control-label">หน่วย :</label>
                                        <div class="col-sm-6">
                                            <select class="form-control" [(ngModel)]="CreateAtti.unitCode" name="unitCode">
                                            <option  *ngFor="let item of academicUnitList;" [value]="item.code"  >{{item.name}}</option>
                                           <!--*ngFor="let item of facultyList;" [value]="item.code"-->
                                         </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-md-7 col-md-offset-3">
                                    <div class="form-group">
                                        <label for="inputEmail3"  class="col-sm-3 control-label" >ตัวคูณ :</label>
                                        <div class="col-sm-6">
                                            <input  type="text" [(ngModel)]="CreateAtti.multiplyValue" name="multiplyValue"   class="form-control" placeholder="ตัวคูณ">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-md-7 col-md-offset-3">
                                    <div class="form-group">
                                        <label for="inputEmail3" class="col-sm-3 control-label">ลำดับการจัดเรียง :</label>
                                        <div class="col-sm-6">
                                            <input type="text" [(ngModel)]="CreateAtti.orderNo" name="orderNo" class="form-control" placeholder="ลำดับการจัดเรียง">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-md-7 col-md-offset-3">
                                    <div class="form-group">
                                        <label for="inputEmail3" class="col-sm-3 control-label">หมายเหตุ :</label>
                                        <div class="col-sm-6">
                                            <input type="text" [(ngModel)]="CreateAtti.description" name="description" class="form-control" placeholder="หมายเหตุ ">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br>

                            <div class="row">
                                <div class="col-md-12" style="text-align: center">
                                    <button class="btn btn-inline btn-primary" type="submit">บันทึก</button>
                                    <button class="btn btn-inline btn-primary" type="reset">ย้อนกลับ</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </section>
            </div>
        </section>
    </div>
</div>