<div class="box-typical box-typical-padding">
    <section class="card card-default">
        <header class="card-header">
            ข้อมูลบุคลากร แก้ไข
        </header>

        <form (ngSubmit)="onSubmit()" #AdminEdit="ngForm">
            <div class="card-block">
                <div class=" form-group row">
                    <label class="col-xs-2 form-control-label">ชื่อเข้าใช้ระบบ:  <span style="color: Red;">*</span></label>

                    <div class="col-sm-5">

                        <input type="text" class="form-control" [(ngModel)]="model.username" name="model.username" placeholder="ชื่อผู้เข้าใช้ระบบ" required>
                        <!--<div class="form-tooltip-error sm">Password must be at least 6 characters</div>-->

                    </div>

                    <!--<small class="text-muted">Username must not be empty</small>-->

                </div>

                <div class=" form-group row">
                    <label class="col-xs-2 form-control-label">สถานะ:</label>

                    <div class="col-sm-5">
                        <div class="radio">
                            <input type="radio" [(ngModel)]="model.enabled" name="enabled" id="radio-1" value="true" checked>
                            <label for="radio-1">Active </label>
                            <input type="radio" [(ngModel)]="model.enabled" name="enabled" id="radio-2" value="false">
                            <label for="radio-2">Inactive </label>
                        </div>

                    </div>

                </div>
                <!--//groupList-->
                <div class=" form-group row">
                    <label class="col-xs-2 form-control-label">กลุ่มผู้ใช้งาน :</label>
                    <div class="col-sm-5">

                        <div *ngFor="let group of groupList;">
                            <label for="check-1">
                                <input type="checkbox" id="{{group.groupName}}" value="{{group.groupId}}"  >
                                {{group.groupName}}</label>
                        </div>
                    </div>

                </div>



                <!--Person thaiName-->
                <div class=" form-group row">
                    <label class="col-xs-2 form-control-label">ชื่อ (ไทย):   <span style="color: Red;">*</span>   </label>

                    <div class="col-sm-5">
                        <p class="form-control-static">
                            <input type="text" class="form-control" id="name" [(ngModel)]="person.thaiName" name="thaiName" placeholder="ชื่อ" required>
                        </p>
                    </div>

                </div>
                <div class=" form-group row">
                    <label class="col-xs-2 form-control-label">นามสกุล (ไทย):  <span style="color: Red;">*</span>     </label>

                    <div class="col-sm-5">
                        <p class="form-control-static">
                            <input type="text" class="form-control" id="name" [(ngModel)]="person.thaiSurname" name="thaiSurname" placeholder="นามสกุล " required>
                        </p>
                    </div>

                </div>

                <!--person.birthdateStr-->
                <div class=" form-group row">
                    <label class="col-xs-2 form-control-label">วัน เดือน ปีเกิด:   </label>

                    <div class="col-sm-5">
                        <p class="form-control-static">
                            <input type="text" class="form-control" [(ngModel)]="person.birthdateStr" name="birthdateStr" id="birthdateStr" placeholder="วัน เดือน ปีเกิด ">
                        </p>
                    </div>

                </div>
                <!--person.rateNo-->
                <div class=" form-group row">
                    <label class="col-xs-2 form-control-label">เลขที่อัตรา:    <span style="color: Red;">*</span>     </label>

                    <div class="col-sm-5">
                        <p class="form-control-static">
                            <input type="text" class="form-control" [(ngModel)]="person.rateNo" name="rateNo" id="name" placeholder="เลขที่อัตรา" required>
                        </p>
                    </div>

                </div>
                <!--person.employeeType-->
                <div class=" form-group row">
                    <label class="col-xs-2 form-control-label"> ประเภทข้าราชการ:  <span style="color: Red;">*</span>    </label>

                    <div class="col-sm-5">
                        <p class="form-control-static">
                            <select id="exampleSelect" class="form-control" [(ngModel)]="person.employeeType" name="employeeType" required>
								<option  *ngFor="let EmployeeType of lovEmployeeTypeList ;" [value]="EmployeeType.name" >{{EmployeeType.name}}</option>
	
                            </select>
                        </p>
                    </div>

                </div>
                <!--person.position-->
                <div class=" form-group row">
                    <label class="col-xs-2 form-control-label" >ตำแหน่ง:     </label>

                    <div class="col-sm-5">
                        <p class="form-control-static">
                            <select  class="form-control" [(ngModel)]="person.position" name="position" >
								<option  *ngFor="let Position of lovPositionList;" [value]="Position.name"  >{{Position.name}}</option>

                        </select>
                        </p>
                    </div>

                </div>



                <!--person.belongTo-->
                <div class=" form-group row">
                    <label class="col-xs-2 form-control-label" >สังกัด:      </label>

                    <div class="col-sm-5">
                        <p class="form-control-static">
                            <input type="text" class="form-control" [(ngModel)]="person.belongTo" name="belongTo" id="name" placeholder="สังกัด " >
                        </p>
                    </div>

                </div>

                <!--person.faculty-->
                <!--<div class=" form-group row">
                    <label class="col-xs-2 form-control-label" >หน่วยงาน:  <span style="color: Red;">*</span>  </label>

                    <div class="col-sm-5">
                        <p class="form-control-static">
                            <select id="exampleSelect" class="form-control" [(ngModel)]="person.faculty" name="faculty" required>
								<option *ngFor="let Faculty of lovFacultyList;" [value]="Faculty.name"  >{{Faculty.name}}</option>
								
                        </select>
                        </p>
                    </div>

                </div>-->

                
                <div class=" form-group row">
                    <label class="col-xs-2 form-control-label">คณะ:<span style="color: Red;">*</span>    </label>

                    <div class="col-sm-5">
                        <p class="form-control-static">
                            <select id="exampleSelect" class="form-control" (change)="Adddepartment($event.target.value);" [(ngModel)]="person.faculty" name="faculty" required >
								<option *ngFor="let Faculty of Faculty;" [value]="Faculty.name"  >{{Faculty.name}}</option>
								
                        </select>
                  
                        </p>
                    </div>

                </div>


                <div class=" form-group row">
                    <label class="col-xs-2 form-control-label">ภาควิชา:<span style="color: Red;">*</span>    </label>

                    <div class="col-sm-5">
                        <p class="form-control-static">
                            <select id="exampleSelect" class="form-control" [(ngModel)]="person.department" name="department" required >
								<option *ngFor="let Faculty of Department;" [value]="Faculty.name" >{{Faculty.name}}</option>
								
                        </select>
                        </p>
                    </div>

                </div>

                

                <!--person.workingDateStr-->
                <div class=" form-group row">
                    <label class="col-xs-2 form-control-label">วันที่เริ่มทำงานจริง:     </label>

                    <div class="col-sm-5">
                        <p class="form-control-static">
                            <input type="text" class="form-control" [(ngModel)]="person.workingDateStr" name="workingDateStr" id="workingDateStr" placeholder="วันที่เริ่มทำงานจริง ">
                        </p>
                    </div>

                </div>
                <!--person.assignDateStr-->


                <!--person.retireDateStr-->


                <!--person.maxInsignia-->


                <!--person.maxEducation-->
                <div class=" form-group row">
                    <label class="col-xs-2 form-control-label">คุณวุฒิการศึกษา ณ วันที่บรรจุ:     </label>

                    <div class="col-sm-5">
                        <p class="form-control-static">
                            <select id="exampleSelect" class="form-control" [(ngModel)]="person.maxEducation" name="maxEducation">
								<option *ngFor="let Education of lovEducationList;" [value]="Education.name" >{{Education.name}}</option>

                        </select>
                        </p>
                    </div>
                </div>

                <div class=" form-group row">
                    <label class="col-xs-2 form-control-label"></label>

                    <div class="col-sm-5">
                        <div class="form-group">
                            <button type="submit" class="btn btn-rounded btn-inline btn-primary">บันทึก</button>
                            <button type="reset" class="btn btn-rounded btn-inline btn-danger">ยกเลิก</button>
                        </div>
                    </div>

                </div>

            </div>
        </form>
    </section>
</div>