<div style="width: 100%">
<div class="col-md-4 col-lg-12">
    <section id="blockui-element-container-dark" class="card">
        <div class="card-block display-table" style="min-height: auto">
<section class="card card-default">
    <header class="card-header" style="text-align: center"></header>
<div class="card-block">
    <section class="box-typical">
        <header class="box-typical-header">
            <div class="tbl-row">
                <div class="tbl-cell tbl-cell-title">
                    <h3>พนักงาน</h3>
                </div>
                <div class="tbl-cell tbl-cell-action-bordered">
                    <button type="button" class="action-btn"><i class="font-icon font-icon-pencil"></i></button>
                </div>
            </div>
        </header>
        <div class="box-typical-body">
            <div class="table-responsive">
                <table class="table table-hover" style="text-align: center">
<thead>
    <tr>
        <th>ภาระงานที่ปฎิบัติสำเร็จ(%)</th>
        <th>ระดับคะแนน (%)</th>
        <th class="table-icon-cell" style="text-align: center">
<i class="font-icon font-icon-trash"></i>
</th>
</tr>
</thead>
<tbody>
    <tr>
        <td>
            <div class="row">
                <div class="col-md-1"><input type="text" class="form-control" placeholder=""></div>
                <div class="col-md-1">-</div>
                <div class="col-md-1"><input type="text" class="form-control" placeholder=""></div>
            </div>
        </td>
        <td>
            <div class="row">
                <div class="col-md-2" style="text-align: center"><input type="text" class="form-control" placeholder=""></div>
</div>
</td>
<td class="table-icon-cell" style="text-align: center">
<button type="button" class="action-btn"> <i class="font-icon font-icon-trash"></i></button>
</td>
</tr>
</tbody>
</table>
</div>
</div>
</section>
<div class="row">
    <div class="col-xs-3 col-md-offset-5">
        <div class="form-group">
            <button type="button" class="btn btn-inline btn-primary">บันทึก</button>
            <button type="button" class="btn btn-inline btn-primary">ย้อนกลับ</button>
        </div>
    </div>
</div>
</div>
</section>
</div>
</section>
</div>
</div>