<div class="box-typical box-typical-padding">
    <div class="form-group row">
    
     <label for="exampleSelect" class="col-sm-2 form-control-label">คณบดี {{facultyDesc}} ประจำปี {{academicYear}} {{thainame}} {{thaiSurname}}</label>
   
    </div>

    <!--<div class="form-group row">
        <label for="exampleSelect" class="col-sm-2 form-control-label">ชื่อผู้เข้าใช้ระบบ</label>
        <div class="col-sm-2">
           <input type="text" class="form-control" id="inputPassword" placeholder="Text">
        </div>
    </div>
    <div class="form-group row">
        <label for="exampleSelect" class="col-sm-2 form-control-label">	ชื่อ - นามสกุล:</label>
        <div class="col-sm-2">
           <input type="text" class="form-control" id="inputPassword" placeholder="Text">
        </div>
    </div>
    <div class="form-group row">
      <button>ค้นหา</button>
    </div>-->

        <div class="form-group row">

          <table id="DTable" [jquery-datatable]="makeDataTable" #personTimeTable="DataTableDirect" class="display table table-bordered table-striped" cellspacing="0" style="width:100%;">
                    <thead>
                        <tr>
                            <th class="thFirst">ชื่อผู้เข้าใช้ระบบ</th>
                            <th class="thFirst">ชื่อ - นามสกุล</th>
                            <th class="thLast">ปีการศึกษา</th>
                            <th class="thLast">กำหนดคณบดี</th>
                        </tr>
                    </thead>
                    <tbody>

                    </tbody>
           </table>

        
       

    </div>





  </div>