<div class="box-typical box-typical-padding">
    <div class="form-group row">
        <label for="exampleSelect" class="col-sm-2 form-control-label">ปีการศึกษา</label>
        <div class="col-sm-2">
            <select id="exampleSelect" class="form-control">
			<option  *ngFor="let item of FacultyWrappers; let i = index" >{{academicYear}}</option>
            </select>
        </div>
    </div>

    <div class="form-group row">
        <div class="pbp-header"> สายบังคับบัญชา ประจำปี {{academicYear}}
        </div>
        <div class="pbp-header" >อธิการบดี  {{thaiName}} {{thaiSurname}}  <a href="#AdminChainOfCommandinitPresident"><span class="font-icon font-icon-cogwheel" > </span></a>
            <span class="lsf-icon colororange" title="man"></span>

            <table class="table table-bordered table-hover" >
                <thead>
                    <th class="thFirst">คณะ</th>
                    <th class="thFirst">คณบดี</th>
                    <th class="thLast">ภาควิชา / หัวหน้าภาค</th>

                </thead>
                <tbody >
                     <tr *ngFor="let item of facultyList; let i = index" >
                    <td > {{item.name}} </td>


                    <td   *ngIf="item.dean" > {{item.dean.email}} {{item.dean.thaiName}} {{item.dean.thaiSurname}} <a href="#AdminChainOfCommandinitDean"><span class="font-icon font-icon-cogwheel" > </span></a> </td>
                    <td   *ngIf="!item.dean" > <a href="#AdminChainOfCommandinitEdit"><span class="font-icon font-icon-cogwheel" > </span></a></td>
                    <td >
                        <table *ngIf="item.departmentList"  >
                            <tr *ngFor="let items of item.departmentList;" >
                                 <!--*ngFor="item.departmentList.departmentList"-->
                                <td >
                                  <a href="#" data-toggle="modal"  data-target="#myModal" (click)="clickShowDepartment(items.departmentId)" >{{items.name}}</a>
                                </td>
                                <td  >
                                    {{items.head.email}}{{items.head.thaiName}} {{items.head.thaiSurname}} <a href="#AdminChainOfCommandinitHead"><span class="font-icon font-icon-cogwheel" > </span></a>
                                </td>
                            </tr>
                        </table>

                    </td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>
  </div>


    <!--Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog " style=" width: 80%;">
      <div class="modal-content">
       <form >
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">สายบังคับบัญชา {{DepartmentName}} </h4>
        </div>
        <div class="modal-body">
          <div class="row">
           <table class="table table-bordered table-hover" >
                <thead>


                </thead>
                <tbody >
                    <tr *ngFor="let item of listByDepartment;  let i = index" >
                        <td>{{i+1}} {{item.thaiName}} {{item.thaiSurname}}
                        </td>
                        <td>{{item.email}}
                        </td>
                        <td>{{item.regId}}
                        </td>
                        <td>{{item.employeeType}}
                        </td>
                    </tr>
                </tbody>
           </table>
	

          </div>
        </div>
        <div class="modal-upload-bottom">
          <button type="button" class="btn btn-rounded btn-success" data-dismiss="modal"  >เสร็จสิ้น</button>
        </div>
        </form>
      </div>
    </div>
  </div>
