<div style="width: 100%">
    <div class="col-md-4 col-lg-12">
        <section id="blockui-element-container-dark" class="card">
            <header class="card-header">
                <div style="width: 100%; text-align: right;">
                    <button type="button" class="btn btn-inline btn-primary">ปรับปีการศึกษา</button>
                </div>
            </header>


            <div class="card-block display-table" style="min-height: auto">
<section class="card card-default">
    <header class="card-header"> ปีการศึกษา </header>
    <div class="card-block">
        <table id="table-edit" class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>ปีการศึกาษา
                        <div class="fa-hover col-md-3 col-md-offset-2"></div>
                    </th>
                    <th>เริ่มต้น - สิ้นสุด
                        <div class="fa-hover col-md-3 col-md-offset-2"></div>
                    </th>
                    <th>เทอม : เริ่มต้น-สิ้นสุด
                        <div class="fa-hover col-md-3 col-md-offset-2"></div>
                    </th>
                    <th>แก้ไข
                        <div class="fa-hover col-md-3 col-md-offset-2"></div>
                    </th>
                </tr>
            </thead>
            <tbody>
                
                <tr >
                    <td>
                        <div class="row">
                            <div class="col-md-6">{{AcademicYear.name}}</div>
                            <div class="col-md-1"><a href=""></a>
                            </div>
                        </div>

                    </td>
                    <td>
                        <div class="row">
                            <div class="col-md-6">{{AcademicYear.startDateStr}} - {{AcademicYear.endDateStr}}</div>
                            <div class="col-md-1"><a href=""></a>
                            </div>
                        </div>

                    </td>
                    <td>
                        <div class="row">
                            <div class="col-md-6"></div>
                            <div class="col-md-1"><a href=""></a>
                            </div>
                        </div>

                    </td>
                    <td>
                        <div class="row">
                            <div class="col-md-6"></div>
                            <div class="col-md-1"><a href="#/AdminmarkRankinitEditRound"><i class="font-icon font-icon-cogwheel"></i>แก้ไข</a>
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</section>
</div>
</section>
</div>
</div>