<div style="width: 100%">
<div class="col-md-4 col-lg-12">
    <section id="blockui-element-container-dark" class="card">
        <header class="card-header">
            <div class="row">
                <div class="col-md-3 col-md-offset-5">
                    <div class="form-group row">
                        <label for="exampleSelect" class="col-sm-4 form-control-label">ปีการศึกษา</label>
                        <div class="col-sm-6">
                            <select id="exampleSelect" class="form-control">
									<option>2555</option>
									<option>2556</option>
									<option>2557</option>
									<option>2558</option>
								</select>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <div class="card-block display-table" style="min-height: auto">
<section class="card card-default">
    <header class="card-header" style="text-align: center"><i class="font-icon font-icon-cogwheel"></i>แก้ไขรอบการประเมิน</header>
<div class="card-block">
    <table id="table-edit" class="table table-bordered table-hover">
        <thead>
            <tr>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-lg-12">
                                    <fieldset class="form-group">
                                        <label class="form-label semibold" for="exampleInput">รอบ 1 เริ่มต้น :</label>
                                        <input type="text" class="form-control" id="exampleInput">
                                    </fieldset>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>

                <td>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-lg-12">
                                    <fieldset class="form-group">
                                        <label class="form-label semibold" for="exampleInput" style="text-align: right">รอบ 2 เริ่มต้น :</label>
<input type="text" class="form-control" id="exampleInput">
</fieldset>
</div>
</div>
</div>
</div>
</td>
</tr>

<tr>
    <td>
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-lg-12">
                        <fieldset class="form-group">
                            <label class="form-label semibold" for="exampleInput"> สิ้นสุด :</label>
                            <input type="text" class="form-control" id="exampleInput">
                        </fieldset>
                    </div>
                </div>
            </div>
        </div>
    </td>

    <td>
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-lg-12">
                        <fieldset class="form-group">
                            <label class="form-label semibold" for="exampleInput" style="text-align: right">สิ้นสุด :</label>
<input type="text" class="form-control" id="exampleInput">
</fieldset>
</div>
</div>
</div>
</div>
</td>
</tr>
</tbody>
</table>
<br>
<div class="row">
    <div class="col-md-12" style="text-align: center">
<button class="btn btn-inline btn-primary" type="submit">บันทึก</button>
<button class="btn btn-inline btn-primary" type="submit">ย้อนกลับ</button>
</div>
</div>
</div>
</section>
</div>
</section>
</div>
</div>