<div class="box-typical box-typical-padding">
        <section class="card card-default">
                <header class="card-header">
                        ระดับคะแนนในภาควิชา {{departmentname}}
                </header>
                <br>
                <div class="row">
                        <div class="col-sm-4"></div>
                        <div class="col-sm-4">
                                <select name="select" class="form-control" [(ngModel)]="headDepart" (ngModelChange)="changSelection($event)">
			<option *ngFor="let a of nameDepart;let i = index " [value]="i" >{{a.departmentDesc}}</option>
                                </select>
                        </div>
                        <div class="col-sm-4"></div>
                </div>

                <div id="chart"></div>
                <br>
                <div id="grid"></div>
        </section>
</div>