
			<div class="row">
				<div class="col-lg-6 col-lg-push-3 col-md-12">
					



















		



				<div class="col-lg-3 col-md-6 col-sm-6">


					<section class="box-typical">
						<header class="box-typical-header-sm">People you may know</header>
						<div class="people-rel-list">
							<div class="people-rel-list-name"><a href="#">Jackie Tran Anh</a>  /  Designer</div>
							<ul class="people-rel-list-photos">
								<li><a href="#"><img src="img/photo-92-1.jpg" alt=""></a></li>
								<li><a href="#"><img src="img/photo-92-2.jpg" alt=""></a></li>
								<li><a href="#"><img src="img/photo-92-3.jpg" alt=""></a></li>
								<li><a href="#"><img src="img/avatar-1-128.png" alt=""></a></li>
								<li><a href="#"><img src="img/photo-92-2.jpg" alt=""></a></li>
								<li><a href="#"><img src="img/avatar-2-128.png" alt=""></a></li>
								<li><a href="#"><img src="img/photo-92-1.jpg" alt=""></a></li>
								<li><a href="#"><img src="img/avatar-3-128.png" alt=""></a></li>
								<li><a href="#"><img src="img/photo-92-3.jpg" alt=""></a></li>
								<li><a href="#"><img src="img/photo-92-1.jpg" alt=""></a></li>
								<li><a href="#"><img src="img/photo-92-2.jpg" alt=""></a></li>
								<li><a href="#"><img src="img/photo-92-3.jpg" alt=""></a></li>
								<li><a href="#"><img src="img/photo-92-1.jpg" alt=""></a></li>
								<li><a href="#"><img src="img/photo-92-2.jpg" alt=""></a></li>
								<li><a href="#"><img src="img/photo-92-3.jpg" alt=""></a></li>
								<li><a href="#"><img src="img/photo-92-1.jpg" alt=""></a></li>
							</ul>
							<form class="site-header-search">
								<input type="text" placeholder="Search for people"/>
								<button type="submit">
									<span class="font-icon-search"></span>
								</button>
								<div class="overlay"></div>
							</form>
						</div>
					</section><!--.box-typical-->
				</div><!--.col- -->
			</div><!--.row-->

