<div class="box-typical box-typical-padding">
    <div class="row">
        <div class="col-sm-12 text-center">
            <h4 style=" margin-bottom: 2.2rem; ">ผลงานบุคลากร {{nameDepart}} ประจำปี {{year}}</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-10">
            <table id="table-edit" class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>
                            <div class="text-center">บุคลากร</div>
                        </th>
                        <th>
                            <div class="text-center">ประเภท</div>
                        </th>
                        <th>
                            <div class="text-center">รออนุมัติ</div>
                        </th>
                        <th>
                            <div class="text-center">อนุมัติแล้ว</div>
                        </th>
                        <th>
                            <div class="text-center">รวม</div>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of academicPersonList; let i = index">
                        <!-- <td *ngIf="item.total == 0" >
                            <div class="text-center">{{item.thaiName}}</div>
                        </td> -->

                        <td *ngIf="item.total != 0" >
                            <div class="text-center"><a [routerLink]="['/approvework',item.email , 1]">{{item.thaiName}}</a></div>
                        </td>

                        <!-- <td *ngIf="item.employeeTypeNo == 1" >พนักงาน</td> -->
                        <td *ngIf="item.total != 0"  >{{item.employeeType}}</td>
                        <td *ngIf="item.total != 0" >
                            <div class="text-center">{{item.totalNotApprove}}</div>
                        </td>
                        <td *ngIf="item.total != 0" >
                            <div class="text-center">{{item.totalApproved}}</div>
                        </td>
                        <td *ngIf="item.total != 0" >
                            <div class="text-center">{{item.total}}</div>
                        </td>

                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-sm-1"></div>
    </div>

</div>

