<div class="box-typical box-typical-padding">
    <div class="row">
        <div class="col-sm-12 text-center">
            <h4>ผลงานบุคลากร วิศวกรรมคอมพิวเตอร์ ประจำปี 2558</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-10">
            <table id="table-edit" class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>บุคลากร</th>
                        <th>ประเภท</th>
                        <th>รออนุมัติ</th>
                        <th>อนุมัติแล้ว</th>
                        <th>รวม</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of academicPersonList; let i = index">
                        <td><a [routerLink]="['/approvework',item.email , 1]">{{item.thaiName}}&nbsp;&nbsp;&nbsp;{{item.thaiSurname}}</a></td>
                        <td [hidden]="item.employeeTypeNo == 1">พนักงาน</td>
                        <td [hidden]="item.employeeTypeNo != 1">ราชการ</td>
                        <td>{{item.totalNotApprove}}</td>
                        <td>{{item.totalApproved}}</td>
                        <td>{{item.total}}</td>

                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-sm-1"></div>
    </div>

</div>