	<header class="section-header" *ngIf="  true  ">
				<div class="tbl">
					<div class="tbl-row">
						<div class="tbl-cell">
							<h2>ระงับการนำเข้าผลงานเพื่อตรวจสอบและอนุมัติผลงานที่ได้ป้อนเข้ามาในระบบ</h2>
							
							
						</div>
						
						
					</div>
				</div>
	</header>
			
			<!--<header class="section-header" *ngIf=" evaluateRoundValue == 'ข้าราชการ' ">
				<div class="tbl">
					<div class="tbl-row">
						<div class="tbl-cell">
							<h2>ระงับการนำเข้าผลงานชั่วคราวเพื่อให้ประธานสาขาอนุมัติผลงงานรอบที่1</h2>
							
						</div>
						
						
					</div>
				</div>
			</header>-->
			
			<!--*ngIf=" evaluateRoundValue != 'ข้าราชการ' "-->
<div  *ngIf="   false ">		
			<header class="section-header" >
				<div class="tbl">
					<div class="tbl-row">
						<div class="tbl-cell">
							<h2>เลือกรายการภาระงานเพื่อนำเข้าผลงาน ปีการศึกษา {{currentAcademicYear}}</h2>
							
						</div>
						
						
					</div>
				</div>
			</header>



			<section class="tabs-section"  >
				<div class="tabs-section-nav">
					<div class="tbl">
						<ul class="nav" role="tablist">
							<li class="nav-item">
								<a class="nav-link active" href="#tabs-2-tab-1" role="tab" data-toggle="tab">
									<span class="nav-link-in">
									<span ><i class="font-icon font-icon-list-square"></i></span>
										  งานวิชาการ										
									</span>
								</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="#tabs-2-tab-2" role="tab" data-toggle="tab">
									<span class="nav-link-in">
									<span ><i class="font-icon font-icon-list-square"></i></span>
										  งานพัฒนาวิชาการ										
									</span>
								</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="#tabs-2-tab-3" role="tab" data-toggle="tab">
									<span class="nav-link-in">
									<span ><i class="font-icon font-icon-list-square"></i></span>
										   งานวิจัย หรือ สร้างสรรค์									
									</span>
								</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="#tabs-2-tab-4" role="tab" data-toggle="tab">
									<span class="nav-link-in">
									<span ><i class="font-icon font-icon-list-square"></i></span>
										  งานบริการวิชาการ										
									</span>
								</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="#tabs-2-tab-5" role="tab" data-toggle="tab">
									<span class="nav-link-in">
									<span ><i class="font-icon font-icon-list-square"></i></span>
										   งานทำนุบำรุงศิลป วัฒนธรรมและสร้างชื่อเสียงให้กับสถาบันฯ									
									</span>
								</a>
							</li>
						
						</ul>
					</div>
				</div><!--.tabs-section-nav-->

				<div class="tab-content">
					<div role="tabpanel" class="tab-pane fade in active" id="tabs-2-tab-1">
					
					
<!--//Tap 1  -->
					<section class="box-typical box-typical-dashboard panel panel-default" style=" border: 0px;">
	                    <header class="box-typical-header panel-heading">
	                        <h3 class="panel-title">ภาระงาน</h3>
	                        <div class="tbl-cell tbl-cell-date" style="text-align: right;">
	                            <span class="semibold">คะแนน</span>	                                        
	                        </div>
	                    </header>
	                    
          

	                    <div class="box-typical-body panel-body " style="overflow: hidden; height: 100%; ">
	                        
							
							<article class="comment-item" *ngFor="let item of inport0; let i = index ">
	                            <div class="user-card-row">
	                                <div class="tbl-row">
	                                    <div class="tbl-cell">
	                                        <span class="user-card-row-name">

	                                        <a href="#" data-toggle="modal" (click)="clickedAddImport(item.code)" data-target="#myModal" 
	                                        data-backdrop="static" data-keyboard="false"
	                                        >{{item.name}}</a>

	                                        </span>
	                                    </div>
	                                    <div class="tbl-cell tbl-cell-date">
	                                        <span class="semibold">{{item.mark}} คะแนน/ {{item.unitDesc}} </span>
	                                        
	                                    </div>
	                                </div>
	                            </div>
	                            <div class="comment-item-txt">
	                          
	                               <p>
	                               <!--*	ตารางสอนอัตโนมัติจาก สำนักทะเบียน-->
	                                </p>
	                                
	                            </div>

	                        </article>
	                        
	                    </div><!--.box-typical-body-->
	                </section>
<!-- **Ta1					 -->
					</div><!--.tab-pane-->
					<div role="tabpanel" class="tab-pane fade" id="tabs-2-tab-2">
					
					
					<section class="box-typical box-typical-dashboard panel panel-default" style=" border: 0px;">
	                    <header class="box-typical-header panel-heading">
	                        <h3 class="panel-title">ภาระงาน</h3>
	                        <div class="tbl-cell tbl-cell-date" style="text-align: right;">
	                            <span class="semibold">คะแนน</span>	                                        
	                        </div>
	                    </header>
	                    <div class="box-typical-body panel-body " style="overflow: hidden; height: 100%; ">
					<article class="comment-item" *ngFor="let item of inport1; let i = index ">
	                            <div class="user-card-row">
	                                <div class="tbl-row">
	                                    <div class="tbl-cell">
	                                        <span class="user-card-row-name">
	                                        <a href="#" data-toggle="modal" (click)="clickedAddImport(item.code)" data-target="#myModal" 
	                                        data-backdrop="static" data-keyboard="false"
	                                        >{{item.name}}</a>
	                                        </span>
	                                    </div>
	                                    <div class="tbl-cell tbl-cell-date">
	                                        <span class="semibold">{{item.mark}} คะแนน/ {{item.unitDesc}} </span>
	                                        
	                                    </div>
	                                </div>
	                            </div>
	                            <div class="comment-item-txt">           
	                               <p>
	                               <!--*	ตารางสอนอัตโนมัติจาก สำนักทะเบียน-->
	                                </p> 
	                            </div>

	                        </article>
	                        
	                    </div><!--.box-typical-body-->
	                </section>
					
					
					
					</div><!--.tab-pane-->
					<div role="tabpanel" class="tab-pane fade" id="tabs-2-tab-3">
						
										<section class="box-typical box-typical-dashboard panel panel-default" style=" border: 0px;">
	                    <header class="box-typical-header panel-heading">
	                        <h3 class="panel-title">ภาระงาน</h3>
	                        <div class="tbl-cell tbl-cell-date" style="text-align: right;">
	                            <span class="semibold">คะแนน</span>	                                        
	                        </div>
	                    </header>
	                    <div class="box-typical-body panel-body " style="overflow: hidden; height: 100%; ">
					<article class="comment-item" *ngFor="let item of inport2; let i = index ">
	                            <div class="user-card-row">
	                                <div class="tbl-row">
	                                    <div class="tbl-cell">
	                                        <span class="user-card-row-name">
	                                        <a href="#" data-toggle="modal" (click)="clickedAddImport(item.code)" data-target="#myModal" 
	                                        data-backdrop="static" data-keyboard="false"
	                                        >{{item.name}}</a>
	                                        </span>
	                                    </div>
	                                    <div class="tbl-cell tbl-cell-date">
	                                        <span class="semibold">{{item.mark}} คะแนน/ {{item.unitDesc}} </span>
	                                        
	                                    </div>
	                                </div>
	                            </div>
	                            <div class="comment-item-txt">           
	                               <p>
	                               <!--*	ตารางสอนอัตโนมัติจาก สำนักทะเบียน-->
	                                </p> 
	                            </div>

	                        </article>
	                        
	                    </div><!--.box-typical-body-->
	                </section>
						
						
						</div><!--.tab-pane-->
					<div role="tabpanel" class="tab-pane fade" id="tabs-2-tab-4">
						
											<section class="box-typical box-typical-dashboard panel panel-default" style=" border: 0px;">
	                    <header class="box-typical-header panel-heading">
	                        <h3 class="panel-title">ภาระงาน</h3>
	                        <div class="tbl-cell tbl-cell-date" style="text-align: right;">
	                            <span class="semibold">คะแนน</span>	                                        
	                        </div>
	                    </header>
	                    <div class="box-typical-body panel-body " style="overflow: hidden; height: 100%; ">
					<article class="comment-item" *ngFor="let item of inport3; let i = index ">
	                            <div class="user-card-row">
	                                <div class="tbl-row">
	                                    <div class="tbl-cell">
	                                        <span class="user-card-row-name">
	                                        <a href="#"  (click)="clickedAddImport(item.code)" data-toggle="modal" data-target="#myModal" 
	                                        data-backdrop="static" data-keyboard="false"
	                                        >{{item.name}}</a>
	                                        </span>
	                                    </div>
	                                    <div class="tbl-cell tbl-cell-date">
	                                        <span class="semibold">{{item.mark}} คะแนน/ {{item.unitDesc}} </span>
	                                        
	                                    </div>
	                                </div>
	                            </div>
	                            <div class="comment-item-txt">           
	                               <p>
	                               <!--*	ตารางสอนอัตโนมัติจาก สำนักทะเบียน-->
	                                </p> 
	                            </div>

	                        </article>
	                        
	                    </div><!--.box-typical-body-->
	                </section>
						
						
						</div><!--.tab-pane-->
					<div role="tabpanel" class="tab-pane fade" id="tabs-2-tab-5">
						
						
											<section class="box-typical box-typical-dashboard panel panel-default" style=" border: 0px;">
	                    <header class="box-typical-header panel-heading">
	                        <h3 class="panel-title">ภาระงาน</h3>
	                        <div class="tbl-cell tbl-cell-date" style="text-align: right;">
	                            <span class="semibold">คะแนน</span>	                                        
	                        </div>
	                    </header>
	                    <div class="box-typical-body panel-body " style="overflow: hidden; height: 100%; ">
					<article class="comment-item" *ngFor="let item of inport4; let i = index ">
	                            <div class="user-card-row">
	                                <div class="tbl-row">
	                                    <div class="tbl-cell">
	                                        <span class="user-card-row-name">
	                                        <a href="#" (click)="clickedAddImport(item.code)" data-toggle="modal" data-target="#myModal" 
	                                        data-backdrop="static" data-keyboard="false"
	                                        >{{item.name}}</a>
	                                        </span>
	                                    </div>
	                                    <div class="tbl-cell tbl-cell-date">
	                                        <span class="semibold">{{item.mark}} คะแนน/ {{item.unitDesc}} </span>
	                                        
	                                    </div>
	                                </div>
	                            </div>
	                            <div class="comment-item-txt">           
	                               <p>
	                               <!--*	ตารางสอนอัตโนมัติจาก สำนักทะเบียน-->
	                                </p> 
	                            </div>

	                        </article>
	                        
	                    </div><!--.box-typical-body-->
	                </section>
						
						
						</div><!--.tab-pane-->
				
				</div><!--.tab-content-->
			</section><!--.tabs-section-->

	
	
	
	
	
	
	
	
	
	
<!-- 	//แยก -->
	
	


  <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog " style=" width: 80%;">
      <div class="modal-content">
       <form >
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">นำเข้าภาระงาน </h4>
        </div>
        <div class="modal-body">
          <div class="row">
          
	          <div class="col-lg-6  col-md-12">
	         
	          
	         
					<div class="form-group row" style="margin-bottom: 2px;">
						<label class="col-sm-3 form-control-label">ชื่อภาระงาน:</label>
						<div class="col-sm-9">
							<p class="form-control-static">
							<textarea rows="4" readonly class="form-control" placeholder="">{{inport5.name}}</textarea>
							
							</p>
						</div>
					</div>

					<div class="form-group row" style="margin-bottom: 2px;">
						<label class="col-sm-3 form-control-label">หมายเหตุ:</label>
						<div class="col-sm-9">
							<p class="form-control-static"><input type="text" readonly class="form-control" id="remrak" placeholder=""></p>
						</div>
					</div>
					
					<div class="form-group row" style="margin-bottom: 2px;">
						<label class="col-sm-3 form-control-label">คะแนน:</label>
						<div class="col-sm-9">
							<p class="form-control-static"><input type="text" readonly class="form-control" id="inputPassword"  value="{{inport5.mark}} คะแนน/ {{inport5.unitDesc}}" ></p>
						</div>
					</div>

					
					<div class="form-group  row" style="margin-bottom: 2px;"  *ngFor="let a of FormAddInput ">
						<label class="col-sm-3 form-control-label">{{a.name}}</label>
						
						<!--{{item.name}}-->
						<div class="col-sm-9" *ngIf=" a.name != 'สัดส่วน(%)' && a.isCalculate != 'Y'  " >
							<p class="form-control-static"><input type="text" [ngModelOptions]="{standalone: true}" name="{{a.name}}" [(ngModel)]="a.value" class="form-control"  value="{{a.value}}" placeholder="{{a.name}}" required="required" ></p>
							<small class="text-muted" style="color: #fa424a;" >* </small>
						</div>

						<div class="col-sm-9" *ngIf=" a.name != 'สัดส่วน(%)' && a.isCalculate == 'Y' " >
							<p class="form-control-static"><input type="number" [ngModelOptions]="{standalone: true}" name="{{a.name}}" [(ngModel)]="a.value" class="form-control"  value="{{a.value}}" placeholder="{{a.name}}" required="required" ></p>
		
							<small class="text-muted" style="color: #fa424a;" >* กรอกค่าตัวเลข</small>
						</div>
						<div class="col-sm-9" *ngIf=" a.name == 'สัดส่วน(%)' && a.isCalculate == 'Y'  " >
								<p class="form-control-static"><input type="number" [ngModelOptions]="{standalone: true}" name="{{a.name}}" max="100" min="0" [(ngModel)]="a.value" class="form-control" id="number" value="{{a.value}}"  name="number" placeholder="{{a.name}}" required="required" ></p>
							<small class="text-muted" style="color: #fa424a;" >* กรอกค่าตัวเลข</small>
						</div>
			
						<!--{{item.number}}-->


					</div>

					<div class="form-group row" style="margin-bottom: 2px;">
						<label class="col-sm-3 form-control-label"></label>
						<div class="col-sm-9 text-center ">
								<small class="text-muted" style="color: #fa424a;" >กรุณากดบันทึกก่อนแนบไฟล์เอกสาร</small>
								
							 <button [disabled]="!valid" type="submit" class="btn btn-rounded" (click)=" clickedSaveImport()" >บันทึก</button>
						</div>
					</div>
					

					
			
			
	          
	          </div>
	          <div class="col-lg-6  col-md-12">
				  <div *ngIf="savealert" class="alert alert-success alert-fill alert-close alert-dismissible fade in" role="alert">
							<button type="button" class="close" data-dismiss="alert" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
							บันทึก เรียบร้อย
					</div>
					<div *ngIf="uploadalert" class="alert alert-success alert-fill alert-close alert-dismissible fade in" role="alert">
							<button type="button" class="close" data-dismiss="alert" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
							อัพโหลดภาพ เรียบร้อย
					</div>
		        <h5 class="m-t-lg with-border"> แนบเอกสารประกอบการพิจารณา :</h5>
	
	<div class="row" *ngIf="statusActiveUpload">

        <div class="col-md-12" >

			      <table class="table">
                                            <thead>
                                                <tr>
                                                    <th width="50%">
                                                        <div class="text-center">Name</div>
                                                    </th>

                                                    <th>
                                                        <div class="text-center"></div>
                                                    </th>

                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr  *ngFor="let item of fileWork">

                                                    <td width="70%"><strong><a href="../person/downloadAttachFile/{{item.attachFileId}}">{{item.fileName}}</a></strong></td>

                                                    <td nowrap width="30%">
                                                        <button type="button" class="btn btn-danger btn-xs" (click)="deleteFile(item.attachFileId,item.fileName)">
                                                        <span class="glyphicon glyphicon-trash"></span> 
                                                    </button>
                                                    </td>

                                                </tr>
    
                                            </tbody>

                                        </table>
        <div class="row" style=" margin-top: 27px;">
            <div class="col-md-8">
					*ขนาดไม่เกิน 5MB เป็นต้น
                <h3 style=" margin-top: 2.2rem; margin-bottom: 1.2rem;">Select files</h3>

                <input type="file" class="form-control" ng2FileSelect [uploader]="uploader" multiple  /><br/> 
			</div>
			
        </div>  
        

            <table class="table">
                <thead>
                <tr>
                    <th width="50%">Name</th>
                    <th>Status</th>
                    
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let item of uploader.queue">
                    <td><strong>{{ item?.file?.name }}</strong></td>
                    <td *ngIf="uploader.isHTML5" nowrap>{{ item?.file?.size/1024/1024 | number:'.2' }} MB</td>
                    <td *ngIf="uploader.isHTML5">
                        <div class="progress" style="margin-bottom: 0;">
                            <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': item.progress + '%' }"></div>
                        </div>
                    </td>
                    <td class="text-center">
                        <span *ngIf="item.isSuccess"><i class="glyphicon glyphicon-ok"></i></span>
                        <span *ngIf="item.isCancel"><i class="glyphicon glyphicon-ban-circle"></i></span>
                        <span *ngIf="item.isError"><i class="glyphicon glyphicon-remove"></i></span>
                    </td>
                    <!--<td nowrap>
                        <button type="button" class="btn btn-success btn-xs"
                                (click)="item.upload()" [disabled]="item.isReady || item.isUploading || item.isSuccess">
                            <span class="glyphicon glyphicon-upload"></span> 
                        </button>
                        <button type="button" class="btn btn-warning btn-xs"
                                (click)="item.cancel()" [disabled]="!item.isUploading">
                            <span class="glyphicon glyphicon-ban-circle"></span> 
                        </button>
                        <button type="button" class="btn btn-danger btn-xs"
                                (click)="item.remove()">
                            <span class="glyphicon glyphicon-trash"></span> 
                        </button>
                    </td>-->
                </tr>
                </tbody>
            </table>

            <div>
                <div>
                    Progress:
                    <div class="progress" style="">
                        <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': uploader.progress + '%' }"></div>
                    </div>
                </div>
                <button type="button" class="btn btn-success btn-s"
                        (click)="uploadFileAll()" [disabled]="!uploader.getNotUploadedItems().length">
                    <span class="glyphicon glyphicon-upload"></span> Upload all
                </button>
                <button type="button" class="btn btn-warning btn-s"
                        (click)="uploader.cancelAll()" [disabled]="!uploader.isUploading">
                    <span class="glyphicon glyphicon-ban-circle"></span> Cancel all
                </button>
                <button type="button" class="btn btn-danger btn-s"
                        (click)="uploader.clearQueue()" [disabled]="!uploader.queue.length">
                    <span class="glyphicon glyphicon-trash"></span> Remove all
                </button>
            </div>

        </div>

    </div>
	
	          </div>
	         
          </div>
        </div>
        <div class="modal-upload-bottom">
          <button type="button" class="btn btn-rounded btn-success" data-dismiss="modal" (click)="exitModal()" >เสร็จสิ้น</button>
        </div>
        </form>
      </div>
    </div>
  </div>





 <!-- Modal 2-->
  <div class="modal fade" id="myModal2" role="dialog">
    <div class="modal-dialog " style=" width: 80%;">
      <div class="modal-content">
       <form >
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">นำเข้าภาระงาน </h4>
        </div>
        <div class="modal-body">
          <div class="row">
          
	       ปิดปรับปรุงชั่วคราว

	         
          </div>
        </div>
        <div class="modal-upload-bottom">
          <button type="button" class="btn btn-rounded btn-success" data-dismiss="modal" (click)="exitModal()" >เสร็จสิ้น</button>
        </div>
        </form>
      </div>
    </div>
  </div>

</div>