<div class="row">
    <div class="col-lg-12 col-md-12">
               <div class="col-lg-12 col-md-12">
                   <table  id="table-edit" class="table table-bordered table-hover">
                       <thead>
                           <tr>
                           <th colspan="2">เกณฑ์ภาระงานด้าน งานวิชาการ ประจำปีการศึกษา 2558</th>
                           </tr>
                           <tr>
                               <th>ภาระงาน</th>
                               <th>คะแนน</th>
                           </tr>
                       </thead>
                       <tbody>
                           <tr>
                               <td>1.1.1 ป. ตรี วิชาบรรยาย</td>
                               <td>3.0 คะแนน/ ชั่วโมงปฎิบัติการ</td>
                           </tr>
                           <tr>
                               <td>1.1.1.1 ป. ตรี วิชาบรรยาย กรณีนักศึกษาจำนวนมากที่ไม่มีผู้ช่วยสอน(TA) โดยสอนนักศึกษาจำนวน 51 ถึง 100 คน</td>
                               <td >3.6 คะแนน/ ชั่วโมงปฎิบัติการ</td>
                           </tr>
                       </tbody>
                   </table>
               </div>
               <div class="col-lg-12 col-md-12"> <button class="btn btn-inline btn-primary">back</button></div>

    </div>
</div>