
			<header class="section-header">
				<div class="tbl">
					<div class="tbl-row">
						<div class="tbl-cell">
							<h2>เลือกรายการภาระงานเพื่อนำเข้าผลงาน</h2>
							
						</div>
						
						
					</div>
				</div>
			</header>



			<section class="tabs-section">
				<div class="tabs-section-nav">
					<div class="tbl">
						<ul class="nav" role="tablist">
							<li class="nav-item">
								<a class="nav-link active" href="#tabs-2-tab-1" role="tab" data-toggle="tab">
									<span class="nav-link-in">
									<span ><i class="font-icon font-icon-list-square"></i></span>
										  งานวิชาการ										
									</span>
								</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="#tabs-2-tab-2" role="tab" data-toggle="tab">
									<span class="nav-link-in">
									<span ><i class="font-icon font-icon-list-square"></i></span>
										  งานพัฒนาวิชาการ										
									</span>
								</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="#tabs-2-tab-3" role="tab" data-toggle="tab">
									<span class="nav-link-in">
									<span ><i class="font-icon font-icon-list-square"></i></span>
										   งานวิจัย หรือ สร้างสรรค์									
									</span>
								</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="#tabs-2-tab-4" role="tab" data-toggle="tab">
									<span class="nav-link-in">
									<span ><i class="font-icon font-icon-list-square"></i></span>
										  งานบริการวิชาการ										
									</span>
								</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="#tabs-2-tab-5" role="tab" data-toggle="tab">
									<span class="nav-link-in">
									<span ><i class="font-icon font-icon-list-square"></i></span>
										   งานทำนุบำรุงศิลป วัฒนธรรมและสร้างชื่อเสียงให้กับสถาบันฯ									
									</span>
								</a>
							</li>
						
						</ul>
					</div>
				</div><!--.tabs-section-nav-->

				<div class="tab-content">
					<div role="tabpanel" class="tab-pane fade in active" id="tabs-2-tab-1">
					
					
<!--//Tap 1  -->
					<section class="box-typical box-typical-dashboard panel panel-default" style=" border: 0px;">
	                    <header class="box-typical-header panel-heading">
	                        <h3 class="panel-title">ภาระงาน</h3>
	                        <div class="tbl-cell tbl-cell-date" style="text-align: right;">
	                            <span class="semibold">คะแนน</span>	                                        
	                        </div>
	                    </header>
	                    
          

	                    <div class="box-typical-body panel-body " style="overflow: hidden; height: 100%; ">
	                        <article class="comment-item">
	                            <div class="user-card-row">
	                                <div class="tbl-row">
	                                    <div class="tbl-cell">
	                                        <span class="user-card-row-name">
	                                        <a href="#/importwork">1.1.1  ป. ตรี วิชาบรรยาย กรณีนักศึกษาจำนวนมากที่ไม่มีผู้ช่วยสอน(TA) โดยสอนนักศึกษาจำนวน 51 ถึง 100 คน</a>
	                                        </span>
	                                    </div>
	                                    <div class="tbl-cell tbl-cell-date">
	                                        <span class="semibold">3.0 คะแนน/ ชั่วโมงปฎิบัติการ</span>
	                                        
	                                    </div>
	                                </div>
	                            </div>
	                            <div class="comment-item-txt">
	                          
	                               <p>
	                               *	ตารางสอนอัตโนมัติจาก สำนักทะเบียน
	                                </p>
	                                
	                            </div>

	                        </article>
 							<article class="comment-item">
	                            <div class="user-card-row">
	                                <div class="tbl-row">
	                                    <div class="tbl-cell">
	                                        <span class="user-card-row-name">
	                                        <a href="#">1.1.1  ป. ตรี วิชาบรรยาย กรณีนักศึกษาจำนวนมากที่ไม่มีผู้ช่วยสอน(TA) โดยสอนนักศึกษาจำนวน 51 ถึง 100 คน</a>
	                                        </span>
	                                    </div>
	                                    <div class="tbl-cell tbl-cell-date">
	                                        <span class="semibold">3.0 คะแนน/ ชั่วโมงปฎิบัติการ</span>
	                                        
	                                    </div>
	                                </div>
	                            </div>
	                            <div class="comment-item-txt">
	                          
	                               <p>
	                               *	ตารางสอนอัตโนมัติจาก สำนักทะเบียน
	                                </p>
	                                
	                            </div>

	                        </article>
	                        
	                        
	                      <article class="comment-item">
	                            <div class="user-card-row">
	                                <div class="tbl-row">
	                                    <div class="tbl-cell">
	                                        <span class="user-card-row-name">
	                                        <a href="#">1.1.1  ป. ตรี วิชาบรรยาย กรณีนักศึกษาจำนวนมากที่ไม่มีผู้ช่วยสอน(TA) โดยสอนนักศึกษาจำนวน 51 ถึง 100 คน</a>
	                                        </span>
	                                    </div>
	                                    <div class="tbl-cell tbl-cell-date">
	                                        <span class="semibold">3.0 คะแนน/ ชั่วโมงปฎิบัติการ</span>
	                                        
	                                    </div>
	                                </div>
	                            </div>
	                            <div class="comment-item-txt">
	                          
	                               <p>
	                               *	ตารางสอนอัตโนมัติจาก สำนักทะเบียน
	                                </p>
	                                
	                            </div>

	                        </article>
	                        
	                        <article class="comment-item">
	                            <div class="user-card-row">
	                                <div class="tbl-row">
	                                    <div class="tbl-cell">
	                                        <span class="user-card-row-name">
	                                        <a href="#">1.1.1  ป. ตรี วิชาบรรยาย กรณีนักศึกษาจำนวนมากที่ไม่มีผู้ช่วยสอน(TA) โดยสอนนักศึกษาจำนวน 51 ถึง 100 คน</a>
	                                        </span>
	                                    </div>
	                                    <div class="tbl-cell tbl-cell-date">
	                                        <span class="semibold">3.0 คะแนน/ ชั่วโมงปฎิบัติการ</span>
	                                        
	                                    </div>
	                                </div>
	                            </div>
	                            <div class="comment-item-txt">
	                          
	                               <p>
	                               *	ตารางสอนอัตโนมัติจาก สำนักทะเบียน
	                                </p>
	                                
	                            </div>

	                        </article>
	                        
	                        
	                        
	                        <article class="comment-item">
	                            <div class="user-card-row">
	                                <div class="tbl-row">
	                                    <div class="tbl-cell">
	                                        <span class="user-card-row-name">
	                                        <a href="#">1.1.1  ป. ตรี วิชาบรรยาย กรณีนักศึกษาจำนวนมากที่ไม่มีผู้ช่วยสอน(TA) โดยสอนนักศึกษาจำนวน 51 ถึง 100 คน</a>
	                                        </span>
	                                    </div>
	                                    <div class="tbl-cell tbl-cell-date">
	                                        <span class="semibold">3.0 คะแนน/ ชั่วโมงปฎิบัติการ</span>
	                                        
	                                    </div>
	                                </div>
	                            </div>
	                            <div class="comment-item-txt">
	                          
	                               <p>
	                               *	ตารางสอนอัตโนมัติจาก สำนักทะเบียน
	                                </p>
	                                
	                            </div>

	                        </article>
	                        
	                        
	                    </div><!--.box-typical-body-->
	                </section>
<!-- **Ta1					 -->
					</div><!--.tab-pane-->
					<div role="tabpanel" class="tab-pane fade" id="tabs-2-tab-2">
					
					
					<section class="box-typical box-typical-dashboard panel panel-default" style=" border: 0px;">
	                    <header class="box-typical-header panel-heading">
	                        <h3 class="panel-title">ภาระงาน</h3>
	                        <div class="tbl-cell tbl-cell-date" style="text-align: right;">
	                            <span class="semibold">คะแนน</span>	                                        
	                        </div>
	                    </header>
	                    
          

	                    <div class="box-typical-body panel-body " style="overflow: hidden; height: 100%; ">
	                        <article class="comment-item">
	                            <div class="user-card-row">
	                                <div class="tbl-row">
	                                    <div class="tbl-cell">
	                                        <span class="user-card-row-name">
	                                        <a href="#">1.1.1  ป. ตรี วิชาบรรยาย กรณีนักศึกษาจำนวนมากที่ไม่มีผู้ช่วยสอน(TA) โดยสอนนักศึกษาจำนวน 51 ถึง 100 คน</a>
	                                        </span>
	                                    </div>
	                                    <div class="tbl-cell tbl-cell-date">
	                                        <span class="semibold">3.0 คะแนน/ ชั่วโมงปฎิบัติการ</span>
	                                        
	                                    </div>
	                                </div>
	                            </div>
	                            <div class="comment-item-txt">
	                          
	                               <p>
	                               *	ตารางสอนอัตโนมัติจาก สำนักทะเบียน
	                                </p>
	                                
	                            </div>

	                        </article>
 							<article class="comment-item">
	                            <div class="user-card-row">
	                                <div class="tbl-row">
	                                    <div class="tbl-cell">
	                                        <span class="user-card-row-name">
	                                        <a href="#">1.1.1  ป. ตรี วิชาบรรยาย กรณีนักศึกษาจำนวนมากที่ไม่มีผู้ช่วยสอน(TA) โดยสอนนักศึกษาจำนวน 51 ถึง 100 คน</a>
	                                        </span>
	                                    </div>
	                                    <div class="tbl-cell tbl-cell-date">
	                                        <span class="semibold">3.0 คะแนน/ ชั่วโมงปฎิบัติการ</span>
	                                        
	                                    </div>
	                                </div>
	                            </div>
	                            <div class="comment-item-txt">
	                          
	                               <p>
	                               *	ตารางสอนอัตโนมัติจาก สำนักทะเบียน
	                                </p>
	                                
	                            </div>

	                        </article>
	                        
	                        
	                      <article class="comment-item">
	                            <div class="user-card-row">
	                                <div class="tbl-row">
	                                    <div class="tbl-cell">
	                                        <span class="user-card-row-name">
	                                        <a href="#">1.1.1  ป. ตรี วิชาบรรยาย กรณีนักศึกษาจำนวนมากที่ไม่มีผู้ช่วยสอน(TA) โดยสอนนักศึกษาจำนวน 51 ถึง 100 คน</a>
	                                        </span>
	                                    </div>
	                                    <div class="tbl-cell tbl-cell-date">
	                                        <span class="semibold">3.0 คะแนน/ ชั่วโมงปฎิบัติการ</span>
	                                        
	                                    </div>
	                                </div>
	                            </div>
	                            <div class="comment-item-txt">
	                          
	                               <p>
	                               *	ตารางสอนอัตโนมัติจาก สำนักทะเบียน
	                                </p>
	                                
	                            </div>

	                        </article>
	                        
	                        <article class="comment-item">
	                            <div class="user-card-row">
	                                <div class="tbl-row">
	                                    <div class="tbl-cell">
	                                        <span class="user-card-row-name">
	                                        <a href="#">1.1.1  ป. ตรี วิชาบรรยาย กรณีนักศึกษาจำนวนมากที่ไม่มีผู้ช่วยสอน(TA) โดยสอนนักศึกษาจำนวน 51 ถึง 100 คน</a>
	                                        </span>
	                                    </div>
	                                    <div class="tbl-cell tbl-cell-date">
	                                        <span class="semibold">3.0 คะแนน/ ชั่วโมงปฎิบัติการ</span>
	                                        
	                                    </div>
	                                </div>
	                            </div>
	                            <div class="comment-item-txt">
	                          
	                               <p>
	                               *	ตารางสอนอัตโนมัติจาก สำนักทะเบียน
	                                </p>
	                                
	                            </div>

	                        </article>
	                        
	                        
	                        
	                        <article class="comment-item">
	                            <div class="user-card-row">
	                                <div class="tbl-row">
	                                    <div class="tbl-cell">
	                                        <span class="user-card-row-name">
	                                        <a href="#">1.1.1  ป. ตรี วิชาบรรยาย กรณีนักศึกษาจำนวนมากที่ไม่มีผู้ช่วยสอน(TA) โดยสอนนักศึกษาจำนวน 51 ถึง 100 คน</a>
	                                        </span>
	                                    </div>
	                                    <div class="tbl-cell tbl-cell-date">
	                                        <span class="semibold">3.0 คะแนน/ ชั่วโมงปฎิบัติการ</span>
	                                        
	                                    </div>
	                                </div>
	                            </div>
	                            <div class="comment-item-txt">
	                          
	                               <p>
	                               *	ตารางสอนอัตโนมัติจาก สำนักทะเบียน
	                                </p>
	                                
	                            </div>

	                        </article>
	                        
	                        
	                    </div><!--.box-typical-body-->
	                </section>
					
					
					
					</div><!--.tab-pane-->
					<div role="tabpanel" class="tab-pane fade" id="tabs-2-tab-3">Tab 3</div><!--.tab-pane-->
					<div role="tabpanel" class="tab-pane fade" id="tabs-2-tab-4">Tab 4</div><!--.tab-pane-->
					<div role="tabpanel" class="tab-pane fade" id="tabs-2-tab-5">Tab 5</div><!--.tab-pane-->
					<div role="tabpanel" class="tab-pane fade" id="tabs-2-tab-6">Tab 6</div><!--.tab-pane-->
				</div><!--.tab-content-->
			</section><!--.tabs-section-->

	

			