
    <div class="row">
        <div class="col-lg-2 col-md-2"></div>

        <div class="col-lg-8 col-md-8 box-typical box-typical-padding">
            <div class="panel panel-default">
                <div class="panel-heading" style="padding-bottom: 25px;">
                    <h4>คำนวณคะแนนภาควิชา  {{departmentName}} ปีการศึกษา {{currentAcademicYear}} </h4>
                </div>
                <div class="panel-body">
                    <div class="list-group">
                        <button (click)="ClickAction()" >คำนวณคะแนนให้เป็นปัจจุบัน</button>
                        *ระบบจะทำการ ปรับปรุงข้อมูลคะแนนบุคลากรทั้งหมดของภาควิชา 
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-2 col-md-2">
        </div>
    </div>
