<div class="box-typical box-typical-padding">

			
				<article class="activity-line-item box-typical">
					
					<header class="activity-line-item-header">
						<div class="activity-line-item-user">
							<div class="activity-line-item-user-photo">
								<a href="#">
									<img src="{{libPath}}img/photo-64-2.jpg" alt="">
								</a>
							</div>
							<div class="activity-line-item-user-name">Tim Colins</div>
							<div class="activity-line-item-user-status">Developer, Palo Alto</div>
						</div>
					</header>
					<div class="activity-line-action-list">
						<section class="activity-line-action">
							<div class="time">10:40 AM</div>
							<div class="cont">
								<div class="cont-in">
									<p>Uploaded 3 Images to Daily UI Album</p>
									<ul class="previews">
										<li>
											<a class="fancybox" rel="gall-1" href="{{libPath}}img/pic.jpg">																	<img src="http://placehold.it/120x80" alt=""/>
											</a>
										</li>
										<li>
											<a class="fancybox" rel="gall-1" href="{{libPath}}img/pic.jpg">																	<img src="http://placehold.it/120x80" alt=""/>
											</a>
										</li>
										<li>
											<a class="fancybox" rel="gall-1" href="{{libPath}}img/pic.jpg">																	<img src="http://placehold.it/120x80" alt=""/>
											</a>
										</li>
										<li>
											<a class="fancybox" rel="gall-1" href="{{libPath}}img/pic.jpg">																	<img src="http://placehold.it/120x80" alt=""/>
											</a>
										</li>
										<li>
											<a class="fancybox" rel="gall-1" href="{{libPath}}img/pic.jpg">																	<img src="http://placehold.it/120x80" alt=""/>
											</a>
										</li>
									</ul>
									<ul class="meta">
										<li><a href="#">ยอมรับ</a></li>
										<li><a href="#">ยกเลิก</a></li>
									</ul>
								</div>
							</div>
						</section><!--.activity-line-action-->
						<section class="activity-line-action">
							<div class="time">10:40 AM</div>
							<div class="cont">
								<div class="cont-in">
									<p>Left a comment to <a href="#">Olga Gozha’s</a> Image</p>
									<div class="tbl img-comment">
										<div class="tbl-row">
											<div class="tbl-cell tbl-cell-img">
												<img src="http://placehold.it/120x80" alt=""/>
											</div>
											<div class="tbl-cell tbl-cell-txt">
												«Had a meeting about shopping cart experience, with Isobel Patterson, Josh Weller»
											</div>
										</div>
									</div>
									<ul class="meta">
										<li><a href="#">5 Comments</a></li>
										<li><a href="#">5 Likes</a></li>
									</ul>
								</div>
							</div>
						</section><!--.activity-line-action-->
						<section class="activity-line-action">
							<div class="time">10:40 AM</div>
							<div class="cont">
								<div class="cont-in">
									<p>Uploaded 3 files</p>
									<ul class="attach-list">
										<li>
											<i class="font-icon font-icon-page"></i>
											<a href="#">example.avi</a>
										</li>
										<li>
											<i class="font-icon font-icon-page"></i>
											<a href="#">activity.psd</a>
										</li>
										<li>
											<i class="font-icon font-icon-page"></i>
											<a href="#">example.psd</a>
										</li>
									</ul>
									<ul class="meta">
										<li><a href="#">5 Comments</a></li>
										<li><a href="#">5 Likes</a></li>
									</ul>
								</div>
							</div>
						</section><!--.activity-line-action-->
					</div><!--.activity-line-action-list-->
				</article>
		
				<article class="activity-line-item box-typical">
					
					<header class="activity-line-item-header">
						<div class="activity-line-item-user">
							<div class="activity-line-item-user-photo">
								<a href="#">
									<img src="{{libPath}}img/photo-64-2.jpg" alt="">
								</a>
							</div>
							<div class="activity-line-item-user-name">Tim Colins</div>
							<div class="activity-line-item-user-status">Developer, Palo Alto</div>
						</div>
					</header>
					<div class="activity-line-action-list">
						<section class="activity-line-action">
							<div class="time">10:40 AM</div>
							<div class="cont">
								<div class="cont-in">
									<p>Started nes UI migration</p>
									<ul class="meta">
										<li><a href="#">5 Comments</a></li>
										<li><a href="#">5 Likes</a></li>
									</ul>
								</div>
							</div>
						</section><!--.activity-line-action-->
						<section class="activity-line-action">
							<div class="dot"></div>
							<div class="time">10:40 AM</div>
							<div class="cont">
								<div class="cont-in">
									<p>Had a meeting about shopping cart experience, with Isobel Patterson, Josh Weller, Mark Taylor</p>
									<ul class="meta">
										<li><a href="#">5 Comments</a></li>
										<li><a href="#">5 Likes</a></li>
									</ul>
								</div>
							</div>
						</section><!--.activity-line-action-->
						<section class="activity-line-action">
							<div class="time">10:40 AM</div>
							<div class="cont">
								<div class="cont-in">
									<p>Had a meeting about shopping cart experience, with Isobel Patterson, Josh Weller, Mark Taylor</p>
									<ul class="meta">
										<li><a href="#">5 Comments</a></li>
										<li><a href="#">1 Likes</a></li>
									</ul>
								</div>
							</div>
						</section><!--.activity-line-action-->
					</div><!--.activity-line-action-list-->
				</article><!--.activity-line-item-->




				<article class="activity-line-item box-typical">
					
					<header class="activity-line-item-header">
						<div class="activity-line-item-user">
							<div class="activity-line-item-user-photo">
								<a href="#">
									<img src="{{libPath}}img/photo-64-2.jpg" alt="">
								</a>
							</div>
							<div class="activity-line-item-user-name">Tim Colins</div>
							<div class="activity-line-item-user-status">Developer, Palo Alto</div>
						</div>
					</header>
					<div class="activity-line-action-list">
                       <div class="box-typical box-typical-padding">

                           <h5 class="m-t-lg with-border">COMMENT</h5>

                           	<form>
					<div class="form-group row">
						<label class="col-sm-2 form-control-label">หัวข้อ</label>
						<div class="col-sm-10">
							<p class="form-control-static"><input type="text" class="form-control" id="inputPassword" placeholder="หัวข้อ"></p>
						</div>
					</div>
                    <div class="form-group row">
						<label for="exampleSelect" class="col-sm-2 form-control-label">รายละเอียด</label>
						<div class="col-sm-10">
							<textarea rows="4" class="form-control" placeholder="รายละเอียด"></textarea>
						</div>
					</div>

                    <button type="button" class="btn btn-rounded btn-inline btn-primary">ส่ง</button>
                     <button type="button" class="btn btn-rounded btn-inline btn-danger">ยกเลิก</button>
					
                           	</form>
                       </div>
					</div><!--.activity-line-action-list-->
				</article><!--.activity-line-item-->



</div>