<div class="box-typical box-typical-padding">

			
				<article class="activity-line-item box-typical">
					
					<header class="activity-line-item-header">
						<div class="activity-line-item-user">
							<div class="activity-line-item-user-photo">
								<a href="#">
									<img src="{{libPath}}img/photo-64-2.jpg" alt="">
								</a>
							</div>
							<div class="activity-line-item-user-name">Tim Colins</div>
							<div class="activity-line-item-user-status">Developer, Palo Alto</div>
						</div>
					</header>
			
				</article>
		
				<article class="activity-line-item box-typical">
					
					<header class="activity-line-item-header">
						<div class="activity-line-item-user">
							<div class="activity-line-item-user-photo">
								<a href="#">
									<img src="{{libPath}}img/photo-64-2.jpg" alt="">
								</a>
							</div>
							<div class="activity-line-item-user-name">Tim Colins</div>
							<div class="activity-line-item-user-status">Developer, Palo Alto</div>
						</div>
					</header>
				
				</article><!--.activity-line-item-->




				<article class="activity-line-item box-typical">
					
					<header class="activity-line-item-header">
						<div class="activity-line-item-user">
							<div class="activity-line-item-user-photo">
								<a href="#">
									<img src="{{libPath}}img/photo-64-2.jpg" alt="">
								</a>
							</div>
							<div class="activity-line-item-user-name">Tim Colins</div>
							<div class="activity-line-item-user-status">Developer, Palo Alto</div>
						</div>
					</header>
					

				</article><!--.activity-line-item-->



</div>