
            <div class="box-typical box-typical-padding">
                
                <img src="{{libPath}}img/kendo_1.png" >
                	<div class="row table-details">
						<div class="col-lg-12">
							<table class="table table-bordered">
								<thead>
									<tr>
										<th >ประเภทภาระงาน</th>
										<th>คะแนน</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>งานวิชาการ</td>
										<td>810.00</td>

									</tr>
									<tr>
										<td>งานพัฒนาวิชาการ</td>
										<td>810.00</td>

									</tr>
									<tr>
										<td>งานวิจัย หรือ สร้างสรรค์</td>
										<td>810.00</td>

									</tr>
									<tr>
										<td>งานบริการวิชาการ</td>
										<td>810.00</td>

									</tr>
									<tr>
										<td>งานทำนุบำรุงศิลป วัฒนธรรมและสร้างชื่อเสียงให้กับสถาบันฯ</td>
										<td>810.00</td>

									</tr>
								</tbody>
							</table>
						</div>
					</div>
            </div>
