
        <div class="box-typical box-typical-padding">
            <div class="col-lg-2 col-md-2"></div>

            <div class="col-lg-8 col-md-8">
                <p class="text-center">ตารางสอนประจำปีการศึกษา 2558</p>
            </div>

            <div class="col-lg-2 col-md-2">
                <select id="exampleSelect" class="text-right">
					<option value="2558" selected="selected">2558</option>
				</select>

            </div>
            <br>
                <hr>
                <p class="text-center">ภาคเรียนที่ 1</p>
                <table id="DTable" class="display table table-bordered table-striped" cellspacing="0" style="width:100%;">
                    <thead>
                        <tr>
                            <th>รหัสวิชา</th>
                            <th>ชื่อวิชา</th>
                            <th>ป/ท</th>
                            <th>ชั่วโมง</th>
                            <th>หน่วยกิต</th>
                            <th>ระดับ</th>
                            <th>จำนวนนักศึกษา</th>
                            <th>section</th>
                            <th>วัน</th>
                            <th>หมายเหตุ</th>
                        </tr>
                    </thead>
                    <tbody>

                    </tbody>
                </table>
                <br>

                <p class="text-center">ภาคเรียนที่ 2</p>
                <table id="D2Table" class="display table table-bordered table-striped" cellspacing="0" style="width:100%;">
                    <thead>
                        <tr>
                            <th>รหัสวิชา</th>
                            <th>ชื่อวิชา</th>
                            <th>ป/ท</th>
                            <th>ชั่วโมง</th>
                            <th>หน่วยกิต</th>
                            <th>ระดับ</th>
                            <th>จำนวนนักศึกษา</th>
                            <th>section</th>
                            <th>วัน</th>
                            <th>หมายเหตุ</th>
                        </tr>
                    </thead>
                    <tbody>

                    </tbody>
                </table>


        </div>
