<div class="row">
	<div class="col-lg-12 col-md-12 box-typical box-typical-padding">


		<label for="exampleSelect" class="col-sm-1 form-control-label">ปีการศึกษา</label>
		<div class="col-sm-2">
			<select id="exampleSelect" class="form-control" [(ngModel)]="currentAcademicYear" #academic (change)="changeYear(academic.value)">
			        <option *ngFor="let item of academicYearList;"  [value]="item.name"  >{{item.name}}</option>
			</select>
		</div>

		<!--<label for="exampleSelect2" class="col-sm-2 form-control-label" *ngIf="evaluateRoundList">รอบ</label >      
		<div class="col-sm-2" *ngIf="evaluateRoundList">
			<select id="exampleSelect2" class="form-control"  [(ngModel)]="evaluateRoundValue"  (ngModelChange)="changeRound()" >
					<option *ngFor="let item of evaluateRoundList;"  [value]="item.name"  >{{item.name}}</option>
			</select>
		</div>-->


    </div>
</div>

            <div class="box-typical box-typical-padding">
                
                <div id="chartKendo"></div>
                	<div class="row table-details">
						<div class="col-lg-12">
							<table class="table table-bordered" >
								<thead>
									<tr>
										<th >ประเภทภาระงาน </th>
										<th>คะแนน</th>
									</tr>
								</thead>
								<tbody>
									<tr *ngFor="let item of json ; let i = index " >
										<td>{{item.axisName}}</td>
										<td>{{item.axisValue}}</td>
									</tr>
								
								</tbody>
							</table>
							
						</div>
					</div>
            </div>