
    <div class="row">
        <div class="col-lg-2 col-md-2"></div>

        <div class="col-lg-8 col-md-8 box-typical box-typical-padding">
            <div class="panel panel-default">
                <div class="panel-heading" style="padding-bottom: 25px;">
                    <h4>Download คู่มือการใช้งาน</h4>
                </div>
                <div class="panel-body">
                    <div class="list-group">
                        <a href="/PBP3/downloadDoc?fileCode=manual1" class="list-group-item"> <img src="/PBP3/baiwa/libs/img/pdf_logo.png"> &nbsp; <b> ผู้ใช้งานทั่วไป</b></a>
                        <a href="/PBP3/downloadDoc?fileCode=manual2" class="list-group-item"><img src="/PBP3/baiwa/libs/img/pdf_logo.png"> &nbsp; <b>  ผู้ดูแลระบบ</b></a>
                        <a href="/PBP3/downloadDoc?fileCode=manual3" class="list-group-item"><img src="/PBP3/baiwa/libs/img/pdf_logo.png"> &nbsp; <b> หัวหน้าภาควิชา</b></a>
                        <a href="/PBP3/downloadDoc?fileCode=manual4" class="list-group-item"><img src="/PBP3/baiwa/libs/img/pdf_logo.png"> &nbsp; <b>  ผู้บริหาร</b></a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-2 col-md-2">
        </div>
    </div>
