<div class="box-typical box-typical-padding">
    <section class="card card-default">
        <header class="card-header">
            ข้อมูลบุคลากร
        </header>
        <div class="card-block">
            <div class=" form-group row">
                <label class="col-xs-2 form-control-label">ชื่อเข้าใช้ระบบ:</label>

                <div class="col-sm-5">
                    <p class="form-control-static">
                        <input type="text" class="form-control" id="name" placeholder="ชื่อผู้เข้าใช้ระบบ">
                    </p>
                </div>

            </div>
            <div class=" form-group row">
                <label class="col-xs-2 form-control-label">รหัสผ่าน:</label>

                <div class="col-sm-5">
                    <p class="form-control-static">
                        <input type="password" class="form-control" id="name" placeholder="รหัสผ่าน">
                    </p>
                </div>

            </div>
            <div class=" form-group row">
                <label class="col-xs-2 form-control-label">ยืนยันรหัสผ่าน:</label>

                <div class="col-sm-5">
                    <p class="form-control-static">
                        <input type="password" class="form-control" id="name" placeholder="ยืนยันรหัสผ่าน">
                    </p>
                </div>

            </div>
            <div class=" form-group row">
                <label class="col-xs-2 form-control-label">สถานะ:</label>

                <div class="col-sm-5">
                    <div class="radio">
                        <input type="radio" name="optionsRadios" id="radio-1" value="option1">
                        <label for="radio-1">Active </label>
                        <input type="radio" name="optionsRadios" id="radio-2" value="option2" checked>
                        <label for="radio-2">Inactive </label>
                    </div>

                </div>

            </div>
            <div class=" form-group row">
                <label class="col-xs-2 form-control-label">กลุ่มผู้ใช้งาน :</label>

                <div class="col-sm-5">
                    <div class="radio">
                        <div class="checkbox">
                            <input type="checkbox" id="check-1">
                            <label for="check-1">GROUP_ADMIN</label>
                        </div>
                        <div class="checkbox">
                            <input type="checkbox" id="check-2">
                            <label for="check-2">GROUP_USER</label>
                        </div>
                        <div class="checkbox">
                            <input type="checkbox" id="check-3">
                            <label for="check-3">GROUP_OFFICER</label>
                        </div>
                        <div class="checkbox">
                            <input type="checkbox" id="check-4">
                            <label for="check-4">GROUP_PRESIDENT</label>
                        </div>
                        <div class="checkbox">
                            <input type="checkbox" id="check-4">
                            <label for="check-4">GROUP_HEADER</label>
                        </div>
                        <div class="checkbox">
                            <input type="checkbox" id="check-4">
                            <label for="check-4">GROUP_EVALUATE</label>
                        </div>
                        <div class="checkbox">
                            <input type="checkbox" id="check-4">
                            <label for="check-4">GROUP_HEAD</label>
                        </div>
                        <div class="checkbox">
                            <input type="checkbox" id="check-4">
                            <label for="check-4">GROUP_DEAN</label>
                        </div>
                        <div class="checkbox">
                            <input type="checkbox" id="check-4">
                            <label for="check-4">GROUP_ADMIN_FAC</label>
                        </div>
                        <div class="checkbox">
                            <input type="checkbox" id="check-4">
                            <label for="check-4">GROUP_ADMIN_WORK</label>
                        </div>

                    </div>

                </div>
            </div>
            <div class=" form-group row">
                <label class="col-xs-2 form-control-label">ชื่อเข้าใช้ระบบ:</label>

                <div class="col-sm-5">
                    <p class="form-control-static">
                        <input type="text" class="form-control" id="name" placeholder="ชื่อผู้เข้าใช้ระบบ">
                    </p>
                </div>

            </div>
            <div class=" form-group row">
                <label class="col-xs-2 form-control-label">ชื่อ (ไทย): </label>

                <div class="col-sm-5">
                    <p class="form-control-static">
                        <input type="text" class="form-control" id="name" placeholder="ชื่อ">
                    </p>
                </div>

            </div>
            <div class=" form-group row">
                <label class="col-xs-2 form-control-label">นามสกุล (ไทย):  </label>

                <div class="col-sm-5">
                    <p class="form-control-static">
                        <input type="text" class="form-control" id="name" placeholder="นามสกุล ">
                    </p>
                </div>

            </div>
            <div class=" form-group row">
                <label class="col-xs-2 form-control-label">สถานะ:</label>

                <div class="col-sm-5">
                    <div class="radio">
                        <input type="radio" name="optionsRadios" id="radio-1" value="option1">
                        <label for="radio-1">ชาย </label>
                        <input type="radio" name="optionsRadios" id="radio-2" value="option2" checked>
                        <label for="radio-2">หญิง </label>
                    </div>

                </div>

            </div>
            <div class=" form-group row">
                <label class="col-xs-2 form-control-label">วัน เดือน ปีเกิด:   </label>

                <div class="col-sm-5">
                    <p class="form-control-static">
                        <input type="text" class="form-control" id="name" placeholder="วัน เดือน ปีเกิด ">
                    </p>
                </div>

            </div>
            <div class=" form-group row">
                <label class="col-xs-2 form-control-label">เลขที่อัตรา:    </label>

                <div class="col-sm-5">
                    <p class="form-control-static">
                        <input type="text" class="form-control" id="name" placeholder="เลขที่อัตรา">
                    </p>
                </div>

            </div>
            <div class=" form-group row">
                <label class="col-xs-2 form-control-label">ประเภทข้าราชการ:    </label>

                <div class="col-sm-5">
                    <p class="form-control-static">
                        <select id="exampleSelect" class="form-control">
								<option>ข้าราชกาล</option>
								<option>2</option>
								<option>3</option>
								<option>4</option>
                        </select>
                    </p>
                </div>

            </div>
            <div class=" form-group row">
                <label class="col-xs-2 form-control-label">ตำแหน่ง:     </label>

                <div class="col-sm-5">
                    <p class="form-control-static">
                        <select id="exampleSelect" class="form-control">
								<option>อาจารย์</option>
								<option>2</option>
								<option>3</option>
								<option>4</option>
                        </select>
                    </p>
                </div>

            </div>

            <div class=" form-group row">
                <label class="col-xs-2 form-control-label">สายงาน:     </label>

                <div class="col-sm-5">
                    <p class="form-control-static">
                        <select id="exampleSelect" class="form-control">
								<option>สายงานวิชา</option>
								<option>2</option>
								<option>3</option>
								<option>4</option>
                        </select>
                    </p>
                </div>

            </div>


            <div class=" form-group row">
                <label class="col-xs-2 form-control-label">โทรศัพท์ที่ทำงาน:      </label>

                <div class="col-sm-5">
                    <p class="form-control-static">
                        <input type="text" class="form-control" id="name" placeholder="โทรศัพท์ที่ทำงาน ">
                    </p>
                </div>

            </div>


            <div class=" form-group row">
                <label class="col-xs-2 form-control-label">สังกัด:      </label>

                <div class="col-sm-5">
                    <p class="form-control-static">
                        <input type="text" class="form-control" id="name" placeholder="สังกัด ">
                    </p>
                </div>

            </div>


            <div class=" form-group row">
                <label class="col-xs-2 form-control-label">หน่วยงาน:    </label>

                <div class="col-sm-5">
                    <p class="form-control-static">
                        <select id="exampleSelect" class="form-control">
								<option>สาขาวิชาวิศวะเเคมี</option>
								<option>2</option>
								<option>3</option>
								<option>4</option>
                        </select>
                    </p>
                </div>

            </div>

            <div class=" form-group row">
                <label class="col-xs-2 form-control-label">วันที่เริ่มทำงานจริง:     </label>

                <div class="col-sm-5">
                    <p class="form-control-static">
                        <input type="text" class="form-control" id="name" placeholder="วันที่เริ่มทำงานจริง ">
                    </p>
                </div>

            </div>

            <div class=" form-group row">
                <label class="col-xs-2 form-control-label">วันสั่งบรรจุ:      </label>

                <div class="col-sm-5">
                    <p class="form-control-static">
                        <input type="text" class="form-control" id="name" placeholder="วันสั่งบรรจุ">
                    </p>
                </div>

            </div>


            <div class=" form-group row">
                <label class="col-xs-2 form-control-label">วันเกษียณอายุ:    </label>

                <div class="col-sm-5">
                    <p class="form-control-static">
                        <input type="text" class="form-control" id="name" placeholder="วันเกษียณอายุ ">
                    </p>
                </div>

            </div>


            <div class=" form-group row">
                <label class="col-xs-2 form-control-label">เครื่องราชการสูงสุด:     </label>

                <div class="col-sm-5">
                    <p class="form-control-static">
                        <select id="exampleSelect" class="form-control">
								<option>ไม่มีข้อมูล</option>
								<option>2</option>
								<option>3</option>
								<option>4</option>
                        </select>
                    </p>
                </div>

            </div>


            <div class=" form-group row">
                <label class="col-xs-2 form-control-label">คุณวุฒิการศึกษา ณ วันที่บรรจุ:     </label>

                <div class="col-sm-5">
                    <p class="form-control-static">
                        <select id="exampleSelect" class="form-control">
								<option>ไม่มีข้อมูล</option>
								<option>2</option>
								<option>3</option>
								<option>4</option>
                        </select>
                    </p>
                </div>

            </div>
            <div class=" form-group row">
                <label class="col-xs-2 form-control-label">บัตรผู้เสียภาษี:     </label>

                <div class="col-sm-5">
                    <p class="form-control-static">
                        <input type="text" class="form-control" id="name" placeholder="บัตรผู้เสียภาษี ">
                    </p>
                </div>

            </div>
            <div class=" form-group row">
                <label class="col-xs-2 form-control-label">สถานะภาพสมรส:     </label>

                <div class="col-sm-5">
                    <p class="form-control-static">
                        <select id="exampleSelect" class="form-control">
								<option>โสด</option>
								<option>2</option>
								<option>3</option>
								<option>4</option>
                        </select>
                    </p>
                </div>

            </div>
            <div class=" form-group row">
                <label class="col-xs-2 form-control-label">เลขที่บัตรข้าราชการ:     </label>

                <div class="col-sm-5">
                    <p class="form-control-static">
                        <input type="text" class="form-control" id="name" placeholder="เลขที่บัตรข้าราชการ ">
                    </p>
                </div>

            </div>
            <div class=" form-group row">
                <label class="col-xs-2 form-control-label">เลขที่ กบข กสจ สปส:     </label>

                <div class="col-sm-5">
                    <p class="form-control-static">
                        <input type="text" class="form-control" id="name" placeholder="เลขที่ กบข กสจ สปส ">
                    </p>
                </div>

            </div>
            <div class=" form-group row">
                <label class="col-xs-2 form-control-label">การสมัครกองทุน:      </label>

                <div class="col-sm-5">
                    <p class="form-control-static">
                        <input type="text" class="form-control" id="name" placeholder="การสมัครกองทุน ">
                    </p>
                </div>

            </div>
            <div class=" form-group row">
                <label class="col-xs-2 form-control-label">ที่อยู่ตามทะเบียนบ้าน:     </label>

                <div class="col-sm-5">
                    <p class="form-control-static">
                        <textarea rows="4" class="form-control" placeholder="ที่อยู่ตามทะเบียนบ้าน"></textarea>
                        
                    </p>
                </div>

            </div>
            <div class=" form-group row">
                <label class="col-xs-2 form-control-label">รหัสไปรษณีย์:     </label>

                <div class="col-sm-5">
                    <p class="form-control-static">
                        <input type="text" class="form-control" id="name" placeholder="ที่อยู่ตามทะเบียนบ้าน ">
                    </p>
                </div>

            </div>
            <div class=" form-group row">
                <label class="col-xs-2 form-control-label">เบอร์โทรศัพท์:     </label>

                <div class="col-sm-5">
                    <p class="form-control-static">
                        <input type="text" class="form-control" id="name" placeholder="เบอร์โทรศัพท์">
                    </p>
                </div>

            </div>
            <div class=" form-group row">
                <label class="col-xs-2 form-control-label">สถานะภาพการทำงาน:     </label>

                <div class="col-sm-5">
                    <p class="form-control-static">
                        <select id="exampleSelect" class="form-control">
								<option>ทดลองปฏิบัติราชกาล</option>
								<option>2</option>
								<option>3</option>
								<option>4</option>
                        </select>
                    </p>
                </div>

            </div>


            <div class=" form-group row">
                <label class="col-xs-2 form-control-label">รูปประวัติส่วนตัว:     </label>

                <div class="col-sm-5">
                    <p class="form-control-static">
                        <label class="control-label">Select File</label>
                        <input id="input-4" name="input4[]" type="file" multiple class="file-loading form-control">
                         <button type="button" class="btn btn-rounded btn-inline btn-warning">อัพโหลด</button>
                    </p>
                </div>

            </div>
            <div class=" form-group row">
                <label class="col-xs-2 form-control-label">ชื่อรูป    </label>

                <div class="col-sm-5">
                    <p class="form-control-static">
                        <input type="text" class="form-control" id="name" placeholder="ชื่อรูป ">
                    </p>
                </div>

            </div>
            <div class=" form-group row">
                <label class="col-xs-2 form-control-label"></label>

                <div class="col-sm-5">
                    <div class="form-group">
                        <button type="button" class="btn btn-rounded btn-inline btn-primary">บันทึก</button>
                        <button type="button" class="btn btn-rounded btn-inline btn-danger">ยกเลิก</button>
                    </div>
                </div>

            </div>

        </div>
    </section>
</div>