<div class="box-typical box-typical-padding">
    <section class="card card-default">
        <header class="card-header">
            ระดับคะแนนแต่ละด้านในภาควิชา  {{nameDepart}}
        </header>
        <div class="card-block">
<table style="border: none;">
	 	<tbody><tr>
	 		<td style="border: none;"> เกณฑ์ขั้นต่ำ :  &nbsp;<hr style="height:2px;border:none;color:red;background-color:red;"></td>
			<td style="border: none;"> ค่าเฉลี่ย :  &nbsp;<hr style="height:2px;border:none;color:yellow;background-color:yellow;"></td>
			<td style="border: none;"> เกณฑ์ขั้นสูง : &nbsp;<hr style="height:2px;border:none;color:green;background-color:green;"></td>
	 	</tr>
</tbody></table>

          <div id="chart1"></div>
         <div id="chart2"></div>
         <div id="chart3"></div>
         <div id="chart4"></div>
         <div id="chart5"></div>



        </div>
    </section>
</div>